<article align= "center" id= 'change-links'>
  <% if @order.status == 'Pending' %>
    <p><%= link_to 'Cancel Order', profile_order_path(@order), method: :patch %>
    <p><%= link_to 'Edit Shipping Info' %></p>
  <% end %>

  <% if @order.status == 'Packaged' %>
    <p><%= link_to 'Cancel Order', profile_order_path(@order), method: :patch %>
  <% end %>
</article>

<article>
  <%= render partial: 'partials/shipping_info' %>
</article><br>

<article id='order-info'>
  <h1 align= 'center'>Order <%= @order.id %></h1>
  <%= render partial: 'partials/order_info',
    locals: {
      id: @order.id,
      created_at: @order.created_at,
      updated_at: @order.updated_at,
      status: @order.status,
      item_orders: @order.item_orders,
      total_quantity: @order.total_quantity,
      grand_total: @order.grand_total
    }
  %>
</article>
