<section>
  <table>
    <tr>
      <% if !item_orders %>
        <th>Order ID</th>
      <% end %>
      <th>Date Created</th>
      <th>Last Updated</th>
      <th>Status</th>
      <th>Total Quantity</th>
      <th>Grand Total</th>
    </tr>
    <tr>
      <% if !item_orders %>
        <td><p><%= link_to id, profile_order_path(id) %></p></td>
      <% end %>
      <td><p><%= created_at %></p></td>
      <td><p><%= updated_at %></p></td>
      <td><p><%= status %></p></td>
      <td><p><%= total_quantity %></p></td>
      <td><p><%= number_to_currency(grand_total) %></p></td>
    </tr>
  </table>
</section>
<br>
<% if item_orders %>
  <table>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
    </tr>
  <% item_orders.each do |item_order| %>
    <tr>
      <article id='item-order-<%= item_order.id %>'>
        <td><p><%= item_order.item.name %><br><img src= <%= item_order.item.image %> style="width:150px"></td>
        <td><p><%= item_order.item.description %></p></td>
        <td><p><%= item_order.quantity %></p></td>
        <td><p><%= number_to_currency(item_order.price) %></p></td>
        <td><p><%= number_to_currency(item_order.subtotal) %></p></td>
      </article>
    </tr>
  <% end %>
  </table>
<% end %>
