<section class = "shipping-address">
  <h1 align = "center">Shipping Info</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td><p><%= @order.name %> </p></td>
      <td><p><%= @order.address.address %> </p></td>
      <td><p><%= @order.address.city %> </p></td>
      <td><p><%= @order.address.state %> </p></td>
      <td><p><%= @order.address.zip %> </p></td>
    </tr>
  </table>
</section>
