<section id="merchant_details">
  <h1><%= @merchant.name %></h1>
  <h3>Merchant Information: </h3>
  <p><%= @merchant.address %></p>
  <p><%= "#{@merchant.city}, #{@merchant.state} #{@merchant.zip}" %></p>
</section>

<br>

<h3>Orders:</h3>

<% @merchant.specific_orders.each do |itemorder| %>
  <section id="order-<%=itemorder.order_id%>">
    <p>Order ID: <%= itemorder.order_id %></p>
    <p>Date Created: <%= itemorder.order.created_at %></p>
    <p>Status: <%= itemorder.order.status %></p>
    <p>Total Quantity: <%= itemorder.order_total_quantity %> </p>
    <p>Grand Total: <%= number_to_currency(itemorder.order_total_cost) %> </p>
    <hr>
  </section>
<% end %>

<br>

<h3>Current Items for Sale: </h3>

<%= link_to 'View Items', merchant_items_path %>
