<section class = "shipping-address">
  <h1 align = "center">Shipping Info</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td><p><%= @order.name %> </p></td>
      <td><p><%= @order.address %> </p></td>
      <td><p><%= @order.city %> </p></td>
      <td><p><%= @order.state %> </p></td>
      <td><p><%= @order.zip %> </p></td>
    </tr>
  </table>
</section>

<h1 align = "center">Order Info</h1>
<center>
  <table>
    <tr>
      <th>Item</th>
      <th>Image</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Fulfillment</th>
    </tr>
  <% @item_orders.each do |item_order|%>
    <tr>
    <section id = "item-<%=item_order.item_id%>">
        <td><p><%=link_to item_order.item.name, "/items/#{item_order.item_id}"%></p></td>
        <td><p><img src= <%= item_order.item.image %> style="width:150px"></p></td>
        <td><p><%= number_to_currency(item_order.price)%></p></td>
        <td><p><%= item_order.quantity%></p></td>
        <% if (item_order.item.inventory < item_order.quantity) && (item_order.status == "Unfulfilled") %>
          <td><p> There are not enough <%= item_order.item.name %> in inventory to fullfill this order </p></td>
        <% elsif item_order.order.status == 'Cancelled'  %>
          <td><p> This order has been cancelled </p></td>
        <% elsif item_order.status == "Unfulfilled" %>
          <td><p><%= link_to 'Fulfill Order', "/merchant/orders/#{item_order.order_id}/#{item_order.id}/fulfill", method: :patch %> </p></td>
        <% else (item_order.item.inventory > item_order.quantity) && (item_order.status == 'Fulfilled') %>
          <td><p> <%= item_order.status %></p></td>
        <% end %>
      </section>
    </tr>
  <% end %>
</table>
