<% if @merchant %>
  <h1><%= link_to @merchant.name, merchant_path(@merchant.id) %><span> Items</span></h1>
  <h3 align="center"><%= link_to "Add New Item", new_merchant_item_path(@merchant.id) %></h3>
<% else %>
  <h1>All Items</h1>
<% end %>

<section class="grid-container">
  <section id="most-popular-items">
    <h3 align="center">Most Popular Items: </h3>
    <% @items.five_most_popular_items.each do |item| %>
      <p align="center"><%= item.name %>: <%= item.purchase_amount %> purchased</p>
    <% end %>
  </section>

  <section id="least-popular-items">
    <h3 align="center">Least Popular Items: </h3>
    <% @items.five_least_popular_items.each do |item| %>
      <p align="center"><%= item.name %>: <%= item.purchase_amount %> purchased</p>
    <% end %>
  </section>
</section>
<hr>

<section class="grid-container">
  <% @items.each do |item| %>
    <% if item.enabled? %>
      <% if item.active? %>
        <section class = "grid-item" id= 'item-<%=item.id%>'>
          <h2> <%=link_to item.name, item_path(item.id) %> </h2>
          <p>Sold by: <%=link_to item.merchant.name, merchant_path(item.merchant.id) %></p>
          <%= link_to(image_tag(item.image), item_path(item.id)) %>
          <p> <%= item.description unless @merchant%> </p>
          <p>Price: <%=number_to_currency(item.price) %> </p>
          <p>Inventory: <%= item.inventory %> </p>
          <% if item.active? %>
            <p>Active</p>
          <% else %>
            <p>Inactive</p>
          <% end %>
        </section>
        <% end %>
      <% end %>
    <% end %>
</section>
